# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
sipcli

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Go module sum file
go.sum
